<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>

        <big><b> Connected User: <%= name %> </b></big><br><br>
        
        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/">Logout</a></button> <br><br>
<!----------------------------------------------------------------------------------------------------->
        <h2>Add Movie Page</h2>

        <button> <a href="/movies">All Movies</a></button>
        <button> <a href="/movie/addMovie">Add Movie</a></button><br><br>

        <form action="/movies/addMovie/added" method="POST">

            Enter the name of the movie: <input type="text" name="name" required><br><br>

            Select the genres of the movie: <br>
            <select multiple="multiple" name="genres" required>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure </option>
                <option value="Anime">Anime </option>
                <option value="Comedy">Comedy </option>
                <option value="Crime">Crime </option>
                <option value="Drama">Drama</option>
                <option value="Espionage">Espionage </option>
                <option value="Family">Family </option>
                <option value="Fantasy">Fantasy </option>
                <option value="History">History </option>
                <option value="Horror">Horror </option>
                <option value="Legal">Legal </option>
                <option value="Medical">Medical </option>
                <option value="Music">Music </option>
                <option value="Mystery">Mystery </option>
                <option value="Romance">Romance </option>
                <option value="Science-Fiction">Science-Fiction</option>
                <option value="Sports">Sports</option>
                <option value="Supernatural">Supernatural </option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>    
                <option value="Western">Western</option>    
            </select><br><br>

            Enter the movie image link: <input type="url" name="image"><br><br>

            Enter the date the movie premiered: <input type="date" name="date" required><br><br>

            <input type="submit" value="Save"> 

            <button> <a href="/movies">Cancel</a></button>

        </form>

    </body>
</html>