<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>

        <big><b> Connected User: <%= name %> </b></big><br><br>

        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/login/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/login/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/login/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/login">Logout</a></button> <br><br>
<!----------------------------------------------------------------------------------------------------->
        <h2>Add Member Page</h2>

        <button> <a href="/login/subscriptions">All Members</a></button>
        <button> <a href="/login/subscription/addMember">Add Member</a></button><br><br>

        <form action="/login/subscriptions/addMember/added" method="POST">

            Enter the name of the member: <input type="text" name="name" required><br><br>

            Enter the member's email: <input type="email" name="email" required><br><br>

            Enter the member's city: <input type="text" name="city" required><br><br>

            <input type="submit" value="Save"> 

            <button> <a href="/login/subscriptions">Cancel</a></button>

        </form>

    </body>
</html>