<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>
        
        <h2>Create Account Page</h2>
        
        <form action="/saveCreate" method="POST">
                   
            Enter the User Name that the ADMIN gave you: <input type="text" name="user" required><br/><br/>
            Enter a Password: <input type="password" name="psw" required><br/><br/>
            <input type="submit" value="Create"><br/><br/>

        </form>

    </body>
</html>