<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>
        
        <big><b> Connected User: <%= name %> </b></big><br><br>

        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/login/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/login/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/login/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/login">Logout</a></button>

    </body>
</html>